{% extends 'base.html' %}
{% block content %}
<h2>ダッシュボード</h2>
<p>以下から機能へアクセスできます:</p>
<div class="dashboard-actions">
  <a class="btn primary" href="{{ url_for('events.list_events') }}">カレンダーを開く</a>
  <a class="btn" href="{{ url_for('events.create_event') }}">予定を作成</a>
  <a class="btn" href="{{ url_for('organizations.list_orgs') }}">組織管理</a>
  <a class="btn" href="{{ url_for('integrations.index') }}">連携設定</a>
</div>
<hr>
<div id="dashboard-calendar">
  {% include 'calendar_partial.html' %}
</div>
{% endblock %}
