{% extends 'base.html' %}
{% block content %}
<div class="event-form">
  <h2>組織作成</h2>
  <form method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-row">
      <label for="{{ form.name.id }}">組織名</label>
      {{ form.name(class='input', size=60) }}
    </div>
    <div class="form-row form-actions">
      <button type="submit" class="btn primary">作成</button>
      <a href="{{ url_for('organizations.list_orgs') }}" class="btn">キャンセル</a>
    </div>
  </form>
</div>
{% endblock %}
