{% extends "base.html" %}
{% block content %}
<div class="auth-container">
  <h1>新規登録</h1>
  <form method="post" class="auth-form">
    {{ form.hidden_tag() }}
    <div class="form-row">
      {{ form.username.label }}
      {{ form.username(class="input") }}
    </div>
    <div class="form-row">
      {{ form.email.label }}
      {{ form.email(class="input") }}
    </div>
    <div class="form-row">
      {{ form.password.label }}
      {{ form.password(class="input") }}
    </div>
    <div class="form-actions">
      <button type="submit" class="btn primary">登録</button>
      <a class="btn link" href="{{ url_for('auth.login') }}">ログインはこちら</a>
    </div>
  </form>
</div>
{% endblock %}